<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>

  <appSettings>
    <!-- DataProvider. Options are: System.Data.OleDb, System.Data.SqlClient, or System.Data.OracleClient -->
    <add key="DataProvider" value="System.Data.SqlClient"/>
    <!-- ConnectionName. A name in connectionstring Section. Must match with DataProvider above -->
    <add key="ConnectionStringName" value="ADO.NET.SqlServer2"/>
    <!-- Number of retries  -->
    <add key="Retries" value="5"/>
    <!-- Sleep time in milliseconds. -->
    <add key="millisecondsTimeout" value="7000"/>
    <!-- Command Timeout -->
    <add key="CommandTimeout" value="600"/>
  </appSettings>

  <connectionStrings>
    <add name="ADO.NET.SqlServer" connectionString="Server=.\db01,7001;Initial Catalog=Northwind;Integrated Security=true" providerName="System.Data.SqlClient"/>
    <add name="ADO.NET.SqlServer2" connectionString="Server=(localdb)\MSSQLLocalDB;Initial Catalog=Northwind;Integrated Security=true;Connect Timeout=60" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
